html {
  scroll-behavior: smooth; }

.background-video {
  color: blue;
  position: absolute;
  min-height: 100vh; }

#outer-wrapper {
  background-color: rgba(0, 0, 0, 0); }

#inner-wrapper {
  background-color: white; }

#artist,
#philosophy,
#gallery {
  min-height: 70vh; }

/* -------------------------------------------------------------------------- */
/*                                    Home                                    */
/* -------------------------------------------------------------------------- */
#home {
  min-height: 90vh !important; }
  #home h2 {
    font-family: "Permanent Marker", cursive; }
  #home h4 {
    font-family: "Just Another Hand", cursive;
    font-size: 3em; }
  #home nav {
    font-family: "Acme", sans-serif;
    font-size: 1.5em; }
  #home img {
    transform: rotate(90deg);
    border-radius: 15px; }

/* -------------------------------------------------------------------------- */
/*                               Artist Section                               */
/* -------------------------------------------------------------------------- */
#artist {
  font-family: "Roboto", sans-serif;
  line-height: 1.9; }
  #artist #p-image {
    padding: 0 10px; }

/* -------------------------------------------------------------------------- */
/*                                   Gallery                                  */
/* -------------------------------------------------------------------------- */
#gallery h1 {
  font-family: "Permanent Marker", cursive; }

/* -------------------------------------------------------------------------- */
/*                                 philosophy                                 */
/* -------------------------------------------------------------------------- */
#dad {
  padding: 50px 0px; }
  #dad h1 {
    font-family: "Permanent Marker", cursive; }
  #dad h2 {
    font-family: "Just Another Hand", cursive; }
  #dad #carouselFamily {
    min-width: 100% !important; }
    #dad #carouselFamily .carousel-control-next-icon,
    #dad #carouselFamily .carousel-control-prev-icon {
      background-color: green;
      padding: 5px 10px;
      height: 30px; }

@media (min-width: 1199.98px) {
  #dad #carouselFamily .carousel-inner {
    display: flex; }
  #dad #carouselFamily .carousel-item {
    margin: 0 auto;
    min-height: 50px;
    max-height: 600px;
    max-width: 80%; } }

@media (max-width: 575.98px) {
  html {
    min-height: 100%; }
  #dad #carouselFamily {
    padding-left: 0px !important;
    padding-right: 0px !important; }
    #dad #carouselFamily .carousel-item {
      min-height: 50px;
      max-height: 400px; }
  #dad .d-block {
    width: 100% !important; }
  #familyFix {
    object-position: center bottom !important; } }
